@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
strong {
  font-weight: bold;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.ajax {
  padding: 1em;
}
body {
  color: #525252;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 23px;
  background-color: #f3f5f8;
  -webkit-font-smoothing: antialiased;
}
footer {
  text-align: center;
  width: 100%;
}
.content {
  background-color: white;
  width: 100%;
  margin: 1em 0;
}
.content .content-inner {
  padding: 1em;
}
.screener-button {
  text-align: right;
  margin-bottom: 1em;
}
.screener-button .btn-screener {
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #34cae0;
  padding: 4px 10px;
  font-weight: bold;
  text-decoration: none;
}
.search {
  display: inline-block;
  width: 410px;
  position: relative;
  font-family: Lato, Verdana, Arial, Tahoma;
  vertical-align: top;
  padding-top: 4px;
  margin: 1em 0;
}
.search input {
  background: #fff;
  border: none;
  border-bottom: 1px solid #cfd0d3;
  border-radius: 0;
  line-height: 13px;
  font-size: 13px;
  color: #707990;
  outline: 0;
  width: 100%;
  height: 37px;
  padding: 5px 0 6px 14px;
  *padding: 10px 0 11px 14px;
}
.search input::-webkit-input-placeholder {
  color: #707990;
  line-height: 17px;
}
.search input:-moz-placeholder {
  color: #707990;
  line-height: 23px;
}
.search input::-moz-placeholder {
  color: #707990;
  line-height: 23px;
}
.search input:-ms-input-placeholder {
  color: #707990;
  line-height: 17px;
}
.search .fa-search {
  position: absolute;
  font-size: 14px;
  color: #4fa4f4;
  right: 14px;
  top: 13px;
  width: 14px;
  display: block;
  height: 13px;
  background: url('/img/icon_search.png') center right no-repeat;
  cursor: pointer;
}
form {
  margin: 0;
  z-index: 100;
  position: relative;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .logo {
    padding-top: 5em;
  }
}
@media (max-width: 1199px) and (min-width: 980px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .container {
    width: 724px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .container {
    width: auto;
  }
  .search {
    width: 271px;
  }
}

/*# sourceMappingURL=app.css.map */