@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);
@import "reset";

.left { text-align: left; }
.center { text-align: center; }

.ajax { padding: 1em; }

body {
	color: #525252;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 23px;
	background-color: #f3f5f8;
	-webkit-font-smoothing: antialiased;
}

footer {
	text-align: center;
	width: 100%;
}

.content {
	background-color: white;
	width: 100%;
	margin: 1em 0;

	.content-inner {
		padding: 1em;
	}
}

.screener-button {
	text-align: right;
	margin-bottom: 1em;

	.btn-screener {
		border: none;
		border-radius: 2px;
		color: #fff;
		background-color: #34cae0;
		padding: 4px 10px;
		font-weight: bold;
		text-decoration: none;
	}
}

@import "searchbar";
@import "responsive";